@{
    ViewData["Title"] = "Contato";
}


<section class="blog-posts">

    <!-- Disque 100 -->

    <div class="post">
        <a href="#"><img src="~/img/Disque100.png" alt="Logo Disque 100" />
        </a>
        <h3>Disque 100</h3>
        <p>O Disque Direitos Humanos - Disque 100 é um serviço para disseminação de informações sobre direitos de grupos vulneráveis e para denúncias de violações de direitos humanos. Qualquer pessoa pode fazer uma denúncia pelo serviço, que funciona diariamente, durante 24h, incluindo sábados, domingos e feriados.</p>
    </div>

    <!-- Conselho Tutelar -->

    <div class="post">
        <a href="#"><img src="~/img/ConselhoTutelar.png" alt="Logo Conselho Tutelar"></a>
        <h3>Conselho Tutelar</h3>
        <p>O Conselho Tutelar é um órgão público permanente e autônomo, não jurisdicional, que tem como atribuição garantir o respeito aos direitos das crianças e dos adolescentes no Brasil.</p>
    </div>

    <!-- Polícia Militar -->

    <div class="post">
        <a href="#"><img src="~/img/PM.png" alt="Logo Polícia Militar"></a>
        <h3>Polícia Militar 190</h3>
        <p>A Polícia Militar exerce o poder de polícia no âmbito interno das forças armadas, garantindo a segurança, a ordem e a lei no país.</p>
    </div>

    <!-- Safer Net -->

    <div class="post">
        <a href="#"><img src="~/img/SaferNet.png" alt="Logo SAfer Net"></a>
        <h3>SaferNet</h3>
        <p>A SaferNet é uma organização sem fins lucrativos que reúne cientistas da computação, professores, pesquisadores e bacharéis em direito com a missão de defender e promover os direitos humanos na Internet.</p>
    </div>
</section>
