@{
    ViewData["Title"] = "Home"; 
}

<!-- Conteúdo dos posts -->
<section class="blog-posts">

    <!-- Post 1 -->

    <div class="post">
        <a href="#"><img src="~/img/alimentacao.jpg" alt="Imagem de prato saudável" />
        </a>
        <h1>Alimentação saudável</h1>
        <h2>Isis</h2>
        <p>Dicas rápidas para manter uma alimentação saudável para seus filhos.</p>
    </div>

    <!-- Post 2 -->

    <div class="post">
        <a href="#"><img src="~/img/estudo.jpg" alt="Menina com mochila nas costas"></a>
        <h1>Momento de estudar</h1>
        <h2>Felipe</h2>
        <p>Como identificar abuso na mudança do comportamento escolar?</p>
    </div>

    <!-- Post 3 -->

    <div class="post">
        <a href="#"><img src="~/img/brincadeira.jpg" alt="Crianças andando de bicicleta"></a>
        <h1>Criança tem que ser criança</h1>
        <h2>Ricardo</h2>
        <p>Entenda os perigos de acelerar a infância do seu filho</p>
    </div>

    <!-- Post 4 -->

    <div class="post">
        <a href="#"><img src="~/img/natureza.jpg" alt="Crianças na natureza"></a>
        <h1>Contato com a natureza</h1>
        <h2>Victor</h2>
        <p>Uma das melhores coisas que os pais podem fazer para os filhos</p>
    </div>
</section>