@{
    ViewData["Title"] = "Login";
}
<main>
    <div class="form-content">
        <div class="form-container">
            <h2>Login</h2>
            <form asp-controller="Account" asp-action="Login" method="post">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Entrar</button>
            </form>
            <h4>Não tem uma conta?</h4>
            <a asp-controller="Account" asp-action="Register" class="btn btn-register">Cadastre-se</a>

        </div>
    </div>
</main>