@{
    ViewData["Title"] = "Sobre Nós";
}

<main>
    <section class="team-gallery">
        <h2>Nossa Equipe</h2>
        <div class="team-members">
            <div class="member-card">
                <img src="~/img/Isis.jpg" alt="Nome da Integrante Isis">
                <h3>Isis</h3>
                <p>Team Leader<br>
                Frontend</p>
            </div>
            <div class="member-card">
                <img src="~/img/Felipe.jpg" alt="Nome do Integrante Felipe">
                <h3>Felipe</h3>
                <p>Design</p>
            </div>
            <div class="member-card">
                <img src="~/img/Ricardo.png" alt="Nome do Integrante Ricardo">
                <h3>Ricardo</h3>
                <p>Backend</p>
            </div>
            <div class="member-card">
                <img src="~/img/Victor.jpg" alt="Nome do Integrante Victor">
                <h3>Victor</h3>
                <p>Backend</p>
            </div>
        </div>
    </section>
</main> 