@model WebGatoMia.Models.User

@{
    ViewData["Title"] = "Editar";
}

<div class="form-container">
    <h2>Editar Usuário</h2>

    <form asp-action="Edit" method="post">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Name">Nome</label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Phone">Telefone</label>
            <input asp-for="Phone" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="PasswordHash">Senha</label>
            <!-- tipo password para esconder a senha -->
            <input asp-for="PasswordHash" type="password" class="form-control" autocomplete="new-password" />
            <small class="form-text text-muted">Insira a senha novamente.</small>
        </div>

        <div class="form-group">
            <label asp-for="UserTypeId">Tipo de Usuário</label>
            <select asp-for="UserTypeId" asp-items="ViewBag.UserTypeId" class="form-control"></select>
        </div>

        <div class="form-check form-check-center">
            <input asp-for="IsActive" class="form-check-input" />
            <label asp-for="IsActive" class="form-check-label">Ativo</label>
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-save">Salvar</button>
            <a asp-action="Index" class="btn btn-cancel">Cancelar</a>
        </div>

    </form>
</div>
